* {
  margin:0;
  padding:0;
  text-decoration:none;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400; 
	font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700; 
	font-style: normal;
}

body {
  font-family: "Open Sans";
  height: 100vh;
}

.header {
  width: 100%;
}

.container {
  width: 100%;
  display:flex;
  flex-direction: column;
  margin: auto;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  position: relative;
}

.container::after {
  content: " ";
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 1;
}


.menu {
  min-width: 1167px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  z-index: 2;
}

.logo {
  width: 179px;
}

.nav {
  width: 462px;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.item-link {
  text-decoration: none;
  color: #ffffff;
}

.description {
  min-width: 679px;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 139px auto;
  z-index: 2;
}

.heading {
  max-width: 679px;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  color: #ffffff;
}

.main {
  min-width: 772px;
  display: flex;
  margin: auto;
  position: relative;
}

.articles {
  width: 772px;
  display: flex;
  flex-direction: column;
}

.section {
  width: 362px;
  margin-left: 200px;
  margin-top: 57px;
  display: flex;
  flex-direction: row;
}

.foto {
  width: 383px;
  height: 294px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.teg {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
}

.subheading {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.autor {
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
}

.date {
  margin-top: 40px;
  font-size: 12px;
  line-height: 40px;
  color: #888888;
  font-weight: 400;
}


.article {
  width: 367px;
  margin-top: 53px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
}

.opt {
  margin-top: 5px;
}

.aside {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  margin-right: 200px;
  margin-top: 63px;
  position: relative;
}

.news {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.line {
  width: 100px;
}


